{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
        <meta name="keywords" content="{{ post.meta('keywords')|e }}">
    {% endif %}
    <meta name="author" content="{{ post.author() }}">
    {{ helper.open_graph_metadata(post) }}
    {{ helper.twitter_card_information(post) }}
    {{ helper.meta_translations(post) }}
{% endblock %}

{% block content %}
<article class="post-{{ post.meta('type') }} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    {{ pheader.html_post_header() }}
    <div class="e-content entry-content" itemprop="articleBody text">
    {{ post.text() }}
    </div>
<br><p><i>Share more, Learn more!</i></p><br>
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_facebook_hcount' displayText='Facebook'></span>
<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
<span class='st_pinterest_hcount' displayText='Pinterest'></span>
<span class='st_googleplus_hcount' displayText='Google +'></span>
<span class='st_email_hcount' displayText='Email'></span>
<br><br><br>
    <aside class="postpromonav">
    <nav>
    {{ helper.html_tags(post) }}
    {{ helper.html_pager(post) }}
    </nav>
    </aside>
    {% if not post.meta('nocomments') and site_has_comments %}
        <section class="comments">
        <h2>{{ messages("Comments") }}</h2>
        {{ comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path) }}
        </section>
    {% endif %}
</article>
{{ comments.comment_link_script() }}
{% endblock %}

{% block sourcelink %}
{% if show_sourcelink %}
     <!-- <div id="social"> -->
   <!-- <a href="{{ post.source_link() }}" id="sourcelink">{{ messages("Source") }}</a> -->
<!-- <a href="https://github.com/shankarmsy" style = "position:absolute; right:320px; top: 16px;"> 
<img title="Github" alt="Github" src="/assets/Octocat.png" width="28" height="28"/> 
</a> 
<a href="https://twitter.com/shankarmsy" style = "position:absolute; right:290px; top: 16px;"> 
<img title="Twitter" alt="Twitter" src="/assets/twitter.png" width="28" height="28" /> 
</a> 
<a href="https://linkedin.com/in/shankarmsy" style = "position:absolute; right:255px; top: 16px;"> 
<img title="LinkedIn" alt="LinkedIn" src="/assets/linkedin.png" width="28" height="28" /> 
</a> 
<a href="/rss.xml" style = "position:absolute; right:225px; top: 16px;"> 
<img title="RSS" alt="RSS" src="/assets/rss.png" width="28" height="28" /> </a> -->
<!-- </a></div> -->
{% endif %}
{% endblock %}
